html {
    scroll-behavior: smooth; 
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,200;1,300&family=Roboto:wght@100&display=swap');

body{
    width: 100%;
    margin: auto;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    background: #e7e7e7 url("slike/background.png") repeat;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: rgb(19, 117, 209);
}
#Slika:hover {
    opacity: 0.7;
    cursor: pointer;
}


/* Header ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
header p{
    font-size: 18px;
}
header .Box1{
    display: flex;
    justify-content: center;
}
header .Box2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #777777;
}
header .Box2 .row{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid;
    border-color: #c9c8c85d;
    height: 15px;
}
header .Box2 #row{
    border: none;
}
header .Box2 .row i{
    margin-right: 15px;
}
header .Box2 #f i{
    display: none;
}
header .Box2 .row button{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #777777;
    background-color: white;
    border: none;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
}
header .Box2 .row button:hover{
    color: rgb(18, 140, 211);
    cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Pictures ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
.Pictures{
    width: 1240px;
    height: 600px;
    display: flex;
    margin: auto;
    flex-direction: row;
    margin-top: 20px;
    overflow: hidden;
}
.Pictures .Box1{
    display: flex;
    width: 400px;
    border: 1px solid;
    border-color: white;
}
.Pictures .Box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Pictures img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Pictures .Box2{
    display: flex;
    width: 840px;
    border: 1px solid;
    border-color: white;
    overflow: hidden;
}
.Pictures .Box2 a{
    display: flex;
    width: 100%;
}
.SlideshowContainer {
    width: 100%;
    height: auto;
    position: relative;
}

.SlideshowImage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    max-width: 100%;
    max-height: 100%;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* main_container----------------------------------------------------------------------------------------------------------------------------------------------------- */
.main_container{
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    margin: auto;
}
.main_container .lijevo{
    display: flex;
    flex-direction: column;
    width: 868px;
}
.main_container .desno{
    display: flex;
    width: 340px;
    margin-left: 32px;
}
/* Opis objekta ------------------------------------- */
.tekst{
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    margin: auto;
}
.tekst p{
    padding-bottom: 10px;
}
.opis{
    width: 100%;
    display: flex; 
    flex-direction: row;
}
.opis .row p{
    margin: 0;
}
/* Smještajne jedinice ------------------------------ */
.apartmani{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.apartmani img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.apartmani .grupa1 .naslov .row h1{
    padding: 0px;
    margin: 0px; 
    color: #356ca2;
}
.apartmani .grupa1 .naslov .row p{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin-top: 6px; 
    font-size: 13px;
}
.ap{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 230px;
    background-color: white
}
.ap .slikice img{
    width: 70px;
    height: 70px; 
    object-fit: cover; 
}
#ap5 .slika img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.ap .kanta{
    display: flex;
    flex-direction: row;
}
.ap .slika{
    display: flex;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
}
.ap .naslov{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}
.ap .slikice{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 550px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}
.ap .slikice .s1{
    display: flex;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    overflow: hidden;
}
.ap .cijena{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
    width: 138px;
    height: 100%;
    background-color: #c9c8c8cb;
    padding-bottom: 10px;
}
.cijena .row p,h1{
    margin: 0px;
    padding: 0px;
}
.cijena #c1{
    display: flex;
    gap: 15px;
    color: #333333;
}
.cijena .row button{
    width: 110px;
    height: 40px;
    border: none;
    background-color: #87ae23;
    color: white;
    font-size: 16px;
}
.cijena .row button:hover{
    cursor: pointer;
    background-color: #789b1f;
}
.kanta .grupa1 #m1{
    border-bottom: solid 1px;
    border-bottom-color: #c9c8c8cb;
}
.kanta .grupa1 #m1 p{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 5px;
}
.gumbeki{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    height: 60px;
}

.meni, .cjenik{
    display: flex;
    width: 50%;
    height: 60px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #c9c8c8cb;
    font-size: 15px;
}
.meni button, .cjenik button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 60px;
    border: none;
    color: #356ca2;
    background-color: white;
}
.meni h4, .cjenik h4{
    padding: 0;
    margin: 0;
}
.meni i, .cjenik i{
    font-size: 20px;
    margin-bottom: 5px;
}
.meni{
    border-right-style: solid;
}
.cjenik{
    border-left-style: solid;
}
.meni button:hover, .cjenik button:hover{
    background-image: linear-gradient(to right,rgba(51, 54, 224, 0.733),rgba(90, 182, 224, 0.76));
}
.meni button:hover, .cjenik button:hover{
    color: white;
    cursor: pointer;
}
/* Kontakt obrazac ---------------------------------- */
.main_container .obrazac{
    margin-top: 85px;
    width: 100%;
}
.kontejner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.kontejner .gornjiobrazac{
    background-color: white;
    height: fit-content;
    width: 100%;
    border:#999;
    border-width: 10px;
    border-radius: 5px;
}
.kontejner .gornjiobrazac .slika{
    display: flex;
    justify-content: center;
}
.kontejner .gornjiobrazac .slika img{
    position: absolute;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    border: solid 4px;
    border-color: whitesmoke;
    margin-top: -50px;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
}
.kontejner .gornjiobrazac .knez{
    display: flex;
    justify-content: center;
    color: #356ca2;
    margin-top: 25px;
}
.kontejner .gornjiobrazac .jezik{
    display: flex;
    justify-content: center;
    color: #505050;
    margin: 0;
    padding: 0;
}
.kontejner .gornjiobrazac .govor{
    display: flex;
    justify-content: center;
    color: #999;
    margin: 0;
    padding: 0;
}
.kontejner .gornjiobrazac .Ikone{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.kontejner .gornjiobrazac .Lokacija, .kontejner .gornjiobrazac .Mobitel, .kontejner .gornjiobrazac .Telefon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #505050;
}
.kontejner .gornjiobrazac .Lokacija h4, .kontejner .gornjiobrazac .Mobitel h4, .kontejner .gornjiobrazac .Telefon h4{
    margin: 10px;
}
form input, form select ,form textarea{
    height: 30px;
    background-color: whitesmoke;
    border: none;
    box-shadow: inset 0 0 10px rgb(172, 172, 172);
    text-indent: 10px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
}
.kontejner .donjiobrazac{
    background-color: white;
    height: fit-content;
    width: 100%;
    border:#999;
    border-width: 10px;
    border-radius: 5px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.donjiobrazac .upisi{
    display: flex; 
    justify-content: center;
}
.donjiobrazac .box1, .donjiobrazac .box2, .donjiobrazac .box3, .donjiobrazac .box4, .donjiobrazac .box5{ 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.donjiobrazac .box6, .donjiobrazac .box7,.donjiobrazac .box8, .donjiobrazac .box9, .donjiobrazac .box10{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.donjiobrazac .box1 input{
    width: 145px;
}
.donjiobrazac .box2 input{
    width: 304px;
}
.donjiobrazac .box3 input{
    width: 145px;
}
.donjiobrazac .box4 .dropdown{
    width: 155px;
}
.donjiobrazac .box4 select{
    width: 145px;
}
.donjiobrazac .box4 label{
    font-size: 14px; 
    padding-left: 13px; 
    color: #5c5c5c;
}
.donjiobrazac .box5 .datum1{
    width: 155px;
}
.donjiobrazac .box5 input{
    width: 145px;
}
.donjiobrazac .box5 label{
    font-size: 14px; 
    padding-left: 13px; 
    color: #5c5c5c;
}
.donjiobrazac .box6 .datum2{
    width: 155px;
}
.donjiobrazac .box6 input{
    width: 145px;
}
.donjiobrazac .box6 label{
    font-size: 14px; 
    padding-left: 13px; 
    color: #5c5c5c;
}
.donjiobrazac .box7 .odrasli{
    width: 230px;
}
.donjiobrazac .box7 select{
    width: 70px;
}
.donjiobrazac .box7 label{
    font-size: 14px; 
    padding-left: 13px; 
    color: #5c5c5c;
}
.donjiobrazac .box8 .djeca{
    width: 230px;
}
.donjiobrazac .box8 select{
    width: 70px;
}
.donjiobrazac .box8 label{
    font-size: 14px; 
    padding-left: 13px; 
    color: #5c5c5c;
}
.donjiobrazac .box9 .djeca{
    width: 230px;
}
.donjiobrazac .box9 select{
    width: 70px;
}
.donjiobrazac .box9 label{
    font-size: 14px; 
    padding-left: 13px; 
    color: #5c5c5c;
}
.donjiobrazac .box10 textarea{
    width: 284px; 
    height: 130px; 
    padding: 10px;
}
.donjiobrazac .row{
    display: flex; 
    justify-content: center; 
    margin-top: 10px;
}
form .row button{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 304px;
    height: 40px;
    border: none;
    background-color: #87ae23;
    color: white;
    font-size: 18px;
}
form .row button:hover{
    opacity: 1;
    background-color: #789b1f;
    cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* bottom_container -------------------------------------------------------------------------------------------------------------------------------------------------- */
.bottom_container{
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
}
/* Informacije -------------------------------------- */
.bottom_container .info{
    display: flex;
    width: 868px;
}
.bottom_container .tablica{
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-color: #9999997a;
    width: 868px;
    font-size: 14px;
    opacity: 0.8;
}
.bottom_container .tablica .unutra{
    display: flex;
    flex-direction: row;
}
.bottom_container .tablica .unutra .box1{
    margin-left: 20px;
    width: 150px;
}
.bottom_container .tablica .unutra .box2{
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bottom_container .tablica .unutra .box2 .moretxt{
    margin-left: 20px;
}
.bottom_container .tablica .unutra .box2 .plažatxt{
    margin-left: 20px;
}
.bottom_container .tablica .unutra .box2 .centartxt{
    margin-left: 20px;
}
.bottom_container .tablica .unutra .box2 .plaža{
    margin-left: 100px;
}
.bottom_container .tablica .unutra .box2 .centar{
    margin-left: 100px;
}
.bottom_container #info{
    width: 620px;
}
.bottom_container .tablica .unutra .box2 .sea{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bottom_container .tablica .unutra .box2 .beach{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bottom_container .tablica .unutra .box2 .grad{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Prikaz na karti ---------------------------------- */
.bottom_container .mapa{
    margin-top: 20px;
    width: 868px;
}
.bottom_container iframe{
    width: 868px;
    height: 350px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Overlay ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Overlay_1 ---------------------------------------- */
#overlay1{
    position: fixed; 
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
#overlay1 .info{
    position: relative;
    width: 1000px;
    height: fit-content;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
}
#overlay1 .info h1{
    color: white; 
    font-size: 50px;
}
#overlay1 .info .box1{
    display: flex;
    width: 1000px;
    height: 200px;
}
#overlay1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#overlay1 .info .box1 .naslov{
    position: absolute;
    left: 8%;
    top: 110px;
    font-family: 'Gilda Display', serif;
}
#overlay1 .info .box2{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 20px;
}
#overlay1 .info .box2 .podaci{
    display: flex; 
    flex-direction: row;
}
#overlay1 .info .box2 .list2{
    margin-left: 100px;
}
#overlay1 .info .box2 .k{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}
#overlay1 .info .box2 .k i{
    margin: 0;
    padding: 0;
    margin-left: 40px;
    width: 25px;
}
#overlay1 .info .box2 .k p{
    margin: 0;
    margin-left: 20px;
}
#overlay1 .info .close{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
#overlay1 .info .close button{
    width: 95%;
    background-color: #c9c8c8cb;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
#overlay1 .info .close button:hover{
    background-image: linear-gradient(to right,rgba(51, 54, 224, 0.733),rgba(90, 182, 224, 0.76));
    color: white;
    cursor: pointer;
}
/* Overlay_2 ---------------------------------------- */
#overlay2{
    position: fixed; 
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
#overlay2 .info{
    position: relative;
    width: 1000px;
    height: fit-content;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
}
#overlay2 .info .box1{
    display: flex;
    width: 1000px;
    height: 200px;
}
#overlay2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#overlay2 .info .box1 .naslov{
    position: absolute;
    left: 8%;
    top: 110px;
    font-family: 'Gilda Display', serif;
}
#overlay2 .box2{
    display: flex;
    flex-direction: column;
    width: 1000px;
}
#overlay2 .k1, #overlay2 .k2,#overlay2 .k3,#overlay2 .k4,#overlay2 .k5,#overlay2 .k6,#overlay2 .k7,#overlay2 .k8{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 960px;
    height: 40px;
    border-top: 1px solid #c9c8c8cb;
}
#overlay2 .box2 .k8{
    border-bottom: 1px solid #c9c8c8cb;
}
#overlay2 .k1, #overlay2 .k3, #overlay2 .k5, #overlay2 .k7{
    background-color: rgba(132, 158, 182, 0.26);
}
#overlay2 .k1 p, #overlay2 .k2 p,#overlay2 .k3 p,#overlay2 .k4 p,#overlay2 .k5 p,#overlay2 .k6 p,#overlay2 .k7 p,#overlay2 .k8 p{
    padding: 0;
    margin: 0;
}
#overlay2 .box2 .kutija{
    display: flex;
    justify-content: center;
    width: 250px;
    margin-left: 20px;
}
#overlay2 .info .close{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
#overlay2 .info .close button{
    width: 960px;
    background-color: #c9c8c8cb;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
#overlay2 .info .close button:hover{
    background-image: linear-gradient(to right,rgba(51, 54, 224, 0.733),rgba(90, 182, 224, 0.76));
    color: white;
    cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* Footer ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
footer{
    margin-top: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.svgbox{
    margin: 50px;
    padding: 0;
}
.crta{
    width: 75%;
    border-top: #a3a3a3 solid 1px;
    display: flex;
    flex-direction: row;
    color: #a3a3a3;
    justify-content: center;
}
.crta .informa{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 60px;
}
.informa .ikona{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ikona i{
    margin-right: 10px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */